{% extends 'base.html' %}
{% load static %}

{% block css %} <link href="{% static "/css/about.css" %}" rel="stylesheet"/> {% endblock %}
{% block title %}ericheep | about{% endblock %}

{% block body %}
    <div id="about-text">
        {{ image.url }}
        <img src={{ image.url }}>
        <p>
            Eric Heep is a experimental composer/artist living in Los Angeles, CA, and received his BFA and MFA in Music Technology at California Institute of the Arts.
        <p>
            Currently programing/scripting/3D printing for Technical Multimedia Design Inc., in Burbank, CA.
        </p>
        <p>
            His work generally includes incorporating existing technology in novel ways, creative coding, and experimenting with the American experimental tradition.
        </p>
    </div>
{% endblock %}
