{% extends 'base.html' %}
{% load static %}

{% block css %} <link href="{% static "/css/about.css" %}" rel="stylesheet"/> {% endblock %}
{% block title %}ericheep | about{% endblock %}

{% block body %}
    <div id="page">
        <div id="profile">
            <div id="sidebar">
                <div id="image">
                    <img src="{{ headshot.image.url }}" width=150 height=150>
                </div>
            </div>
            <div id="text">
                {{ profile.text|linebreaks }}
                <div id="logos">
                    <a target="_blank" href="{{profile.github }}">
                        <div id="logo">github</div>
                    </a>
                    <a target="_blank" href="{{profile.vimeo}}">
                        <div id="logo">vimeo</div>
                    </a>
                    <a target="_blank" href="{{profile.youtube}}">
                        <div id="logo">youtube</div>
                    </a>
                    <a target="_blank" href="https://twitter.com/dkfjsal">
                        <div id="logo">twitter</div>
                    </a>
                </div>
            </div>
        </div>
        <div>
            <p> He also works with these artists. </p>
        </div>
        <div id="collaborators">
            {% for collaborator in collaborators %}
                {% if collaborator.url %}
                    <a href={{ collaborator.url }} target="_blank">
                        <div id="collaborator-url">
                            {{ collaborator.name }}
                        </div>
                    </a>
                {% else %}
                    <div id="collaborator">
                        {{ collaborator.name }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
