{% extends 'base.html' %}
{% load static %}

{% block css %}
<link href="https://fonts.googleapis.com/css?family=Kreon:300,400" rel="stylesheet">
<link href="{% static "/css/works.css" %}" rel="stylesheet"/>
{% endblock %}

{% block title %}eric heep{% endblock %}

{% block body %}
<div id="work-page">
	<div id="work-tags" >
		{% for tag in tags %}
		{% if tag.slug == tag_slug %}
		<a href="/works/"><div class="selected" id="work-tag">{{ tag }}</div></a>
		{% else %}
		<a href="/{{ tag.slug }}/"><div id="work-tag">{{ tag }}</div></a>
		{% endif %}
		{% endfor %}
	</div>

	<div id="work-list">
		{% for work in works %}
		<div id="work-card">
			<a id="work-item" href="/works/{{ work.slug }}/">
				<div id="work-thumbnail">
					{% if work.mainImage %}
					<img src="{{  work.mainImage.url }}" width=317>
					{% endif %}
				</div>
				<div id="work-title">
					<b>{{ work.title }}</b>
					({{ work.created_date|date:"Y" }})
					<br>
				</div>
				<div id="work-abstract">
					{{ work.abstract }}
					</br>
				</div>
			</a>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
