{% extends 'base.html' %}
{% load static %}
{% load markdown_filter %}

{% block css %}
	<link href="https://fonts.googleapis.com/css?family=Kreon:300,400" rel="stylesheet">
	<link href="{% static "/css/info.css" %}" rel="stylesheet"/>
{% endblock %}
{% block title %}eric heep | info{% endblock %}

{% block body %}
    <div id="page">
        <div id="profile">
            <div id="sidebar">
                <div id="image">
                    <img src="{{ headshot.image.url }}" width=150 height=150>
                </div>
            </div>
            <div id="text">
                {{ profile.text|markdownify|safe }}
                <div id="logos">
                    <a target="_blank" href="{{profile.github }}">
                        <div id="logo">github</div>
                    </a>
                    <a target="_blank" href="{{profile.vimeo}}">
                        <div id="logo">vimeo</div>
                    </a>
                    <a target="_blank" href="{{profile.youtube}}">
                        <div id="logo">youtube</div>
                    </a>
                    <a target="_blank" href="https://twitter.com/dkfjsal">
                        <div id="logo">twitter</div>
                    </a>
                </div>
            </div>
        </div>
        <div>
    </div>
{% endblock %}
