<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">
    <link href="/static/css/miscellany.css" rel="stylesheet"/>
    <title>miscellany</title>
</head>

<div id="page-upper-container">
    <div id="page-item-work">
        <h2>add work</h2>
        <form method="POST" class="miscellany-form">
            {% csrf_token %}
            {{ work_form }}
            <button type="submit" class="save btn btn-default">save</button>
        </form>
    </div>
    <div id="page-item-performance">
        <h2>add performance</h2>
        <form method="POST" class="miscellany-form">
            {% csrf_token %}
            {{ performance_form.as_p }}
            <button type="submit" class="save btn btn-default">save</button>
        </form>
    </div>
</div>
<div id="page-lower-container">
    <div id="page-item-work-list">

    </div>
    <div id="page-item-performance-list">
    </div>
</div>
