{% load staticfiles %}
<html>
    <head>
        <title>eric-heep-{{ slug }} </title>
        <link rel="stylesheet" href="{% static 'css/portfolio.css' %}">
    </head>
    <body>
        <div>
            <h1> <a> {{ title }} </a> </h1>
        </div>
        <div>
            <p> <a> {{ text }} </a> </p>
        </div>
        <div>
            <p> <a> {{ date }} </a> </p>
        </div>
        <div>
            <p> <a> {{ tags }} </a> </p>
        </div>
    </body>
    <!-- <div>
        <ul class="flex-container">
        {% for work in works %}
        <li class="flex-item"> {{ work }} </li>
        {% endfor %}
        <ul>
    </div>
    <div>
        <ul class="flex-container">
        {% for performance in performances %}
        <li class="flex-item"> {{ performance }} </li>
        {% endfor %}
        <ul>
    </div>
    -->
</html>
