{% extends 'base.html' %}
{% load static %}
{% load markdown_filter %}


{% block css %}
    <link href="{% static "/css/work.css" %}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Kreon:300,400" rel="stylesheet">
{% endblock %}

{% block title %}ericheep | {{ work.title }} {% endblock %}

{% block body %}
    <div id="page">
        <div id="sidebar">
            <div id="card">
                <div id="title">
                    {{ work.title }}
                </div>
                <div id="created-date">
                    ({{ work.created_date|date:"M, Y" }})
                </div>
            </div>
            <div id="images">
                {% for image in images %}
                    <div id="image">
                        <img src="{{ image.image.url }}" width=175>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div id="main">
            <div id="text">
                {{ work.text|markdownify|safe}}
            </div>
            <div id="logos">
                {% if work.github %}
                    <a target="_blank" href="{{ work.github }}">
                        <div id="logo">github </div>
                    </a>
                {% endif %}
                {% if work.vimeo %}
                    <a target="_blank" href="{{ work.vimeo }}">
                        <div id="logo">vimeo </div>
                    </a>
                {% endif %}
                {% if work.youtube %}
                    <a target="_blank" href="{{ work.youtube }}">
                        <div id="logo">youtube </div>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

