{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link href="{% static "/css/work.css" %}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Kreon:300,400" rel="stylesheet">
{% endblock %}

{% block title %}ericheep | {{ work.title }} {% endblock %}

{% block body %}

    <div id="work-header">
        <div id="work-info">
            <div id="work-item">
                {{ work.title }}
            </div>
            <div id="work-created-date">
                {{ work.created_date|date:"M, Y" }}
            </div>
        </div>
        <div id="work-text">
            {{ work.text|linebreaks }}
        </div>
    </div>
{% endblock %}

