{% extends 'base.html' %}

{% block title %}ericheep | works{% endblock %}

{% block body %}
    <div id="work-page">
        <div id="work-tags" >
            {% for tag in tags %}
                <div class="hover" id="work-tag">
                    <a class="black" href="/{{ tag.slug }}/"> {{ tag }} </a>
                </div>
            {% endfor %}
        </div>

        <div id="work-container">
            <div id="work-item-list">
                <div class="title">works</div>
                {% for work in works %}
                    <div class="hover" id="work-link">
                        <a class="red" href="/works/{{ work.slug }}/">
                            {{work.slug}}
                        </a>
                    </div>
                {% endfor %}
            </div>

            <div id="work-item-content">
                <div id="work-title"> {{ title }} | {{ created_date }} </div>
                <div id="work-text"> {{ text }} </div>
            </div>
        </div>
    </div>
{% endblock %}
