{% extends 'base.html' %}
{% load static %}

{% block css %} <link href="{% static "/css/works.css" %}" rel="stylesheet"/> {% endblock %}
{% block title %}ericheep | works{% endblock %}

{% block body %}
    <div id="work-page">
        <div id="work-tags" >
            {% for tag in tags %}
            <a href="/works/{{ tag.slug }}/"> <div id="work-tag">{{ tag }}</div></a>
            {% endfor %}
        </div>

        <div id="work-item-list">
            {% for work in works %}
                <a href="/works/{{work.slug }}/">
                    <div id="work-item">
                        <div id="work-info">
                            <div id="work-title">
                                {{ work.title }}
                            </div>
                            <div id="work-created-date">
                                {{ work.created_date|date:"M, Y" }}
                            </div>
                        </div>

                        <div id="work-abstract">
                            {{ work.abstract }}
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
