container_commands:
    01_collectstatic:
        command: "django-admin collectstatic --noinput"
        leader_only: true

option_settings:
    "aws:elasticbeanstalk:application:environment":
     DJANGO_SETTINGS_MODULE: "miscellany.settings"
     PYTHONPATH: "$PYTHONPATH"
    "aws:elasticbeanstalk:container:python":
     WSGIPath: "miscellany/wsgi.py"
     StaticFiles: "/static/=www/static/"

packages:
    yum:
        postgresql95-devel: []
        libjpeg-turbo-devel: []

