#page {
    margin: 25px;
}
#profile {
    display: flex;
    flex-direction: row;
}

#image {
    order: 0;
    margin-right: 15px;
    margin-top: 15px;
}

#text {
    order: 1;
    padding-left: 15px;
}

#logos {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-weight: bold;
    flex-direction: row;
}

#logo {
    padding: 3px 3px;
    margin: 15px 5px;
    font-size: small;
    border: 2px;
    border-style: none dashed dashed none;
}

#logo:hover {
    color: white;
    background: red;
}
