h3 {
    margin-left: 15px;
    text-decoration: underline;
}

button {
    margin-top: 15px;
    margin-left: 15px;
}

th, td {
    padding-right: 15px;
}


.miscellany-form {
    font-size: normal;
}

.table-form {
    font-size: small;
    text-align: left;
    margin-left: 15px;
    padding-bottom: 5px;
}

.table-list {
    padding-right: 5px;
    font-size: x-small;
    text-align: left;
}

.section {
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}

.section-form {
    width: 50%;
    order: 0;
}

.section-list {
    position: relative;
    order: 1;
    width: 50%;
}

.section-scroll {
    margin-top: 15px;
    margin-bottom: 15px;
    outline: #FF0000 dotted thin;
    background: #FFFFFF;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
}
