div {
    outline: #FF0000 dotted thin;
    font-family: 'Ubuntu Mono', monospace;
}

h2 {
    margin-left: 15px;
    font-size: normal;
    text-decoration: underline;
}

button {
    margin-left: 15px;
}

.helptext {
    color: gray;
}

.miscellany-form {
    font-size: normal;
}

.table-form {
    font-size: small;
    text-align: left;
    margin-left: 15px;
    padding-bottom: 5px;
}

.table-list {
    padding-right: 5px;
    font-size: x-small;
    text-align: left;
}

#page-container {
    display: flex;
    flex-direction: column;
}

#work-half {
    display: flex;
    flex: 1 0 auto;
    order: 0;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}

#work-form {
    flex: 1 0 auto;
    order: 0;
}

#work-list {
    flex: 1 0 auto;
    font-size: small;
    order: 1;
}

#work-item {
    flex: 1 0 auto;
}

#performance-half {
    display: flex;
    flex: 1 0 auto;
    order: 1;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}

#performance-form {
    flex: 1 0 auto;
    order: 0;
}

#performance-list {
    flex: 1 0 auto;
    order: 1;
}

#performance-item {
    flex: 1 0 auto;
}
