div {
    font-family: 'Ubuntu Mono', monospace;
}

h3 {
    margin-left: 15px;
    text-decoration: underline;
}

button {
    margin-top: 15px;
    margin-left: 15px;
}

th, td {
    padding-right: 15px;
}


.miscellany-form {
    font-size: normal;
}

.table-form {
    font-size: small;
    text-align: left;
    margin-left: 15px;
    padding-bottom: 5px;
}

.table-list {
    padding-right: 5px;
    font-size: x-small;
    text-align: left;
}

.section {
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}

.section-form {
    flex: 1 0 auto;
    order: 0;
}

.section-list {
    overflow-y: scroll hidden;
    margin: 20px 0px;
    flex: 0 1 auto;
    font-size: small;
    order: 1;
    width: 50%;
}
