.head {
    font-family: 'Ubuntu Mono', monospace;
    color: #000000;
    margin-left: 30px;
}

.sidebar {
    font-family: 'Ubuntu Mono', monospace;
    color: #FF0000;
}

.flex-container {
    display: flex;
    order: -1;
    list-style: none;
    flex-flow: nowrap;
    flex-direction: column;
    justify-content: space-around;
}

.pretty-link {
    text-decoration: none;
    color: #FF0000;
}

.flex-content {
    display: flex;
    order: 1;
}

.flex-item {
    width: 150px;
    height: 30;
    margin-left: 10px;
}
