a {
    text-decoration: none;
}

div {
    font-family: 'Ubuntu Mono', monospace;
}

h1 {
    margin: 0px 20px;
}

.black {
    color: #000000;
}

.red {
    color: #FF0000;
}

.gray {
    color: #808080;
}

.light-gray {
    color: #E3E7EA;
}

.work-link {
    padding-bottom: 5px;
}

#flex-tags {
    display: flex;
    color: #D8D8D8;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px
}

#flex-tag {
    flex: 0 1 auto;
    font-weight: bold;
    text-align: center;
    font-size: small;
    padding: 15px 10px;
}

#flex-body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0px 20px;
}

#flex-works {
    color: #FF0000;
    flex: 1 0 auto;
    order: 0;
    font-weight: bold;
    margin-right: 30px;
}

#flex-content {
    flex: 1 1 auto;
    order: 1;
    text-align: left;
}

#content-title {
    font-size: large;
    font-weight: bold;
}

#flex-performances {
    flex: 1 0 auto;
    order: 2;
    font-size: small;
    margin-left: 30px;
    text-align: right;
}

#performance-title {
}

#performance-event{
    padding-bottom: 10px;
}
