a {
    color: #FF0000;
    text-decoration: none;
}

div {
    font-family: 'Ubuntu Mono', monospace;
}

h1 {
    margin: 0px 20px;
}

#flex-tags {
    display: flex;
    color: #D8D8D8;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px
}

#flex-tag {
    flex: 0 1 auto;
    font-weight: bold;
    text-align: center;
    font-size: small;
    padding: 15px 10px;
}

#flex-body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0px 20px;
}

#flex-works {
    flex: 1 0 auto;
    order: 0;
    font-weight: bold;
    margin-right: 30px;
}

#work {
    padding-bottom: 5px;
}

#flex-content{
    flex: 0 1 auto;
    order: 1;
}

span {
    content:"";
    flex: 1 1 auto;
    border-top: 1px solid #000;
}

#content-title{
    font-size: large;
    font-weight: bold;
}

#flex-performances {
    flex: 1 0 auto;
    order: 2;
    font-size: small;
    margin-left: 30px;
}

#performance-date {
}

#performance-venue{
    padding-bottom: 5px;
}
