/* whole page */
#page {
    display:flex;
    flex: 0 1 auto;
    flex-direction: column;
    margin: 25px auto;
}

#card {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    max-width: 475px;
    order: 0;
    padding: 5px 10px;
    margin: 0px 25px;
    margin-bottom: 15px;
    border: 3px;
    border-style: solid dashed solid solid;
    justify-content: left;
}

#title {
    order: 0;
    margin: 5px 5px;
    font-weight: bold;
    font-size: large;
    flex-direction: row;
}

#created-date {
    order: 1;
    padding: 5px 5px;
    font-weight: normal;
    font-size: large;
}

#text {
    max-width: 900px;
    flex: 0 1 auto;
    order: 0;
    font-weight: 300;
    font-family: 'Kreon', serif;
    margin: 0px 50px;
    margin-bottom: 15px;
}


#logos {
    display: flex;
    flex: 0 1 auto;
    order: 1;
    margin: 0px 25px;
    margin-bottom: 15px;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-weight: bold;
    flex-direction: row;
}

#logo {
    padding: 5px 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: small;
    border: 2px;
    border-style: none none dashed dashed;
}

#logo:hover {
    color: white;
    background: red;
}

#images {
    flex: 0 1 auto;
    order: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 900px;
    margin: 0px 25px;
}

#image {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}

#bottom {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}
