#work-page {
    margin-left: 15px;
}

#work-tags {
    display: flex;
    color: #D8D8D8;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 0px;
}

#work-tag {
    flex: 0 1 auto;
    font-weight: bold;
    text-align: center;
    font-size: small;
    padding-right: 10px;
    padding-bottom: 5px;
}

#work-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#work-item-list {
    color: #FF0000;
    flex: 1 0 auto;
    order: 0;
    font-size: small;
    font-weight: bold;
    margin-right: 30px;
}

#work-link {
    padding-bottom: 5px;
}

#work-item-content {
    flex: 1 0 content;
}

#work-title {
    font-size: large;
    font-weight: bold;
    padding-bottom: 15px;
}

#work-text{
    flex: 1 1 auto;
    order: 1;
    text-align: left;
}
