/* overall page */
#work-page {
  margin: 0px 25px;
}

/* tags */
#work-tags {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 6px;
}

#work-tag {
  flex: 0 1 auto;
  font-weight: bold;
  text-align: center;
  font-size: small;
  margin-top: 10px;
  margin-bottom: 8px;
  margin-right: 6px;
  padding: 5px 10px;
  border: 2px;
  border-style: dotted;
}

#work-tag:hover {
  color: white;
  background: black;
}

#left {
  display: flex;
  flex-direction: column;
}

#work-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

#work-card {
  flex-shrink:1;
  order: 0;
  padding: 4px 4px;
  margin-bottom: 15px;
  margin-right: 10px;
  font-size: normal;
  border: 2px;
  border-style: dotted;
  max-width: 325px;
}

.selected {
  background: repeating-linear-gradient(
  135deg,
  lightgrey,
  lightgrey 1px,
  white 1px,
  white 5px
  );
  color: black;
}

#work-card:hover {
  background: repeating-linear-gradient(
  135deg,
  lightgrey,
  lightgrey 1px,
  white 1px,
  white 5px
  );
}

#work-thumbnail {
  order: 0;
  align-self: center;
}

/* first */
#work-title {
  display: block;
  margin-top: 8px;
  margin-bottom: 6px;
  max-width: 315px;
}

#work-abstract {
  display: block;
  max-width: 315px;
  margin:bottom: 2px;
}
