/* overall page */
#work-page {
    margin: 0px 25px;
}

/* tags */
#work-tags {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 25%;
    margin: 20px 0px;
}

#work-tag {
    flex: 0 1 auto;
    font-weight: bold;
    text-align: center;
    font-size: small;
    margin: 5px 5px;
    padding: 5px 10px;
    outline: dotted;
}

#work-tag:hover {
    color: white;
    background: red;
}

/* work list */
#work-item-list{
    display: flex;
    flex-direction: column;
}

#work-item {
    display: flex;
    flex: 0 0 auto;
    margin: 5px 5px;
    font-size: small;
    flex-direction: row;
    outline: solid;
}

#work-item:hover {
    background: red;
    color: white;
}

/* first */
#work-info {
    width: 30%;
    flex: 0 1 auto;
    flex-direction: column;
    order: 0;
    padding: 5px 5px;
}

#work-title {
    font-weight: bold;
    order: 0;
    padding-bottom: 3px;
}

#work-created-date {
    order: 1;
}

/* first */
#work-abstract {
    flex: 0 1 auto;
    order: 1;
    padding: 3px 5px;
}
