{% load performance_tags %}

<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet"/>
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div id="header">
        <h1 id="name">
            <a class="black" href="/">ericheep</a>
        </h1>
        <h2 id="nav">
            <a class="black" href="/">about</a>
            <a class="black" href="/works">works</a>
            <a class="black" href="/contact">contact</a>
        </h2>
    </div>

    {% block sub-header %}{% endblock %}

    <div id="flex-main">
        {% block body %}{% endblock %}
        <div id="flex-performances">
            <div class="column-title"> performances </div>
            {% get_performances as performances %}
            {% for performance in performances %}
                <div id="performance-title"> {{performance.work}} @ {{ performance.venue }} </div>
                <div id="performance-event"> {{performance.event}} | {{ performance.date|date:"m-d-Y gA"}} </div>
            {% endfor %}
        </div>
    </div>

    {% block footer %} {% endblock %}
</body>
</html>
